<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .service .log {
    	height: 550px;
    	overflow: scroll;
    	font-size: 10px;
    }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
  	   <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div id="twitter" class="col-md-4 service">
          <h2 class="servicename">Twitter</h2>
           <div class="log"></div>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div id="facebook" class="col-md-4 service">
          <h2 class="servicename">Facebook</h2>
          <div class="log"></div>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
       </div>
        <div id="instagram" class="col-md-4 service">
          <h2 class="servicename">Instagram</h2>
           <div class="log"></div>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>

      <hr>
      <p style="color: red;">Unmoderated Mode: <input id="unmoderated" type="checkbox" value="on" /></p> 
      <hr />

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

	<script src="/js/sprintf.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>


    <script src="/socket.io/socket.io.js"></script>
	<script>
	$(function(){

		var socket = io.connect();
		socket.emit('hello', { now: new Date() });

		// silly, debug, verbose, info, warn, error
		var colors = {"info": 'black', "error": "red", "warn": "orange"};
		socket.on('log', function (data) {
			//console.log(data.service);
			var date = moment(data.timestamp).format('MM.D, h:mm:ss a');
			var meta = (data.meta && Object.keys(data.meta).length>0) ? JSON.stringify(data.meta) : "";
			var logline = sprintf('<div style="color: %s">[%s] %s %s</div>', colors[data.level], date, data.message, meta); 
			var elem = $("#"+data.service+" .log");
			elem.append(logline);
			var div = elem.get(0);

			div.scrollTop = div.scrollHeight;
		});

		socket.on('status', function(data){
			var elem = $("#"+data.service+" .servicename");
			var css = {};
			css.color =  data.status ? "green" : "red";
			elem.css(css);
		});

    socket.on('unmoderated', function(data){
      $("#unmoderated").prop('checked', data.checked);
    });

    $("#unmoderated").click(function(){
      var checked = $("#unmoderated").prop('checked');
      socket.emit('unmoderated', {checked: checked});
    });
	})
	</script>

  </body>
</html>